.Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
}
.logo{
    display: flex;
    align-items: center;
}
.ul-list{
    display: flex;
    gap: 20px;

}
 .li{
    list-style: none;
    font-size: 18px;

}
.link{
    color: black;
    text-decoration: none;
}
.project-name{
    color: rgb(99, 99, 184);
    font-size: 20px;
}
.link-favorite{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: black;
    text-decoration: none;
}
.menu-open{
    border: none;
    background:none;
    cursor: pointer;
}

.menu{
    display: none;
}
.active{
    font-weight: 800;
}

@media (max-width:570px) {
    .Header{
display: flex;
justify-content: space-between;
    }
    .menu{
        display: flex;

    }
    .ul-list{
display: none;
    }
    .ul-open-list{
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: white;
  position: absolute;
  top: 75px;
  padding: 20px;
  right: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15); 
    z-index: 100;
    border-radius: 10px;
    width: 200px;
    
}
   
}